<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 声明组件信息
        ioc的配置一定是实现类！真正要进行实例化。不能是接口
    -->
    <bean id="happyComponent" class="com.atguigu.ioc_03.HappyComponent"/>
    <!-- <bean id="happyComponent1" class="com.atguigu.ioc_03.HappyComponent"/> -->


</beans>